:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

aside {
  max-width: 30%;
  padding: 10px;
  background-color: black;
  height: 100%;
  overflow: scroll;
}

main  {
  height: 100%;
  padding: 20px;
  flex: 1;
  text-align: center;
}

