* {
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a, a:visited, a:link {
  color: inherit;
  text-decoration: none;
}

button.main {
  background-color: black;
  border: 1px solid coral;
  color: coral;
  padding: 5px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .hide-on-desktop {
    display: none;
  }
}
